$white-cl:#fff;
$black-cl:#000;
$yellow-cl:#bea67c;

/*global text color */
$text-cl:#010101;
$gray-cl:#464646;

/*global bg color */
$main-bg-cl:#fff;

//time transiton 
$t:0.3s;
$cubic:cubic-bezier(0.84, 0.13, 0.33, 0.97);

//font family
$font-stack:"Open Sans", sans-serif;

/*headings typo*/
$fz-text:16px;
$lh-text:normal;

$fz-text-m:16px;
$lh-text-m:normal;

/*grid - media queries breakpoints*/
$xxs-min:568px;
$xs-min:768px;  
$sm-min:992px;
$md-min:1200px;
$lg-min:1600px;

$xxs-max:($xxs-min - 1);
$xs-max:($xs-min - 1);
$sm-max:($sm-min - 1);
$md-max:($md-min - 1);
$lg-max:($lg-min - 1);
/*boxed layout */
$max-width:1920px;
$container-max-width:$max-width;
$container-width: 1070px; 

//transition 
$transition:0.5s;

//height heaeder


//height footer{
$footer-height:57px; 


:root {
    //=========== VÍ DỤ ============//

    // font-size & line-height heading

    --h1-fs: 7.2rem;
    --h1-lh: 8rem;

    --h2-fs: 5.2rem;
    --h2-lh: 6rem;

    --h3-fs: 3.2rem;
    --h3-lh: 4.2rem;

    --h4-fs: 2.4rem;
    --h4-lh: 3.2rem;

    --h5-fs: 2rem;
    --h5-lh: 3rem;

    --body16-fs: 1.6rem;
    --body16-lh: 2.6rem;

    --body14-fs: 1.4rem;
    --body14-lh: 2.2rem;

    // Genaral Variable

    --gap: 30px; // gap này sử dụng cho gap cột & padding của container, container-fluid

    --height-header: 80px;
    --height-button: 56px;
    --ptop: 150px;
    --pd-section: 120px;

    @media (max-width: $sm-max) {
        // Tablet
    }
    @media (max-width: $xs-max) {
        // Mobile
        --h1-fs: 3.6rem;
        --h1-lh: 4.2rem;

        --h2-fs: 2.8rem;
        --h2-lh: 3.8rem;

        --h3-fs: 2.2rem;
        --h3-lh: 3rem;

        --h4-fs: 2rem;
        --h4-lh: 3.2rem;

        --gap: 20px;

        --height-header: 70px;
        --pd-section: 50px;
        --ptop: 120px;
    }
}